@font-face {
    font-family: '7-Segment';
    src: url('Segment7.woff2') format('woff2'),
        url('Segment7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

